:root {
    margin: 0;
    width: 100%;
    color:black;
    font-family: "Roboto", sans-serif;
    background-color: #f6f6f6;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

#main-content {
    margin-top: 2%;
    padding-left: 10%; /* leave space for side nav */
    padding-right: 5%;
    background-color: #f6f6f6;
}

ul {
    margin: 1em 0;
}

/* header */ 
.header {
    font-family: "Roboto", sans-serif;
    color: black;
    padding-bottom: 1%;
}

.header a {
    color: black;
}

.header a:hover {
    text-decoration: none;
    color: black;
}

.navbar-login li {
    padding-left: 8%;
}

/* footer */

.footer {
    font-size: 14px;
    text-align: center;
}

/* side navbar */

:root {
    --primary: 237, 94%, 81%;
    --background: 266, 16%, 92%;
    --background-secondary: 256, 12%, 12%;
    --background-secondary-dark: 256, 10%, 10%;
    --background-secondary-light: 257, 11%, 16%;
    --text-primary: 0, 0%, 0%;
    /* Colors */
    --black: 0, 0%, 0%;
    --white: 0, 0%, 100%;
    --quite-gray: 0, 0%, 50%;
    --grooble: 10, 28%, 93%;
    /* misc */
    --transition-main: .175, .685, .32;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-left-ns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.flexbox-col-start-center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.flexbox-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#side-navbar {
    top: 0;
    padding: 0;
    width: 5em;
    height: 100vh;
    position: fixed;
    background-color: hsl(var(--background-secondary));
    transition: width .35s cubic-bezier(var(--transition-main), 1);
    overflow-y: auto;
    overflow-x: hidden;
    color:white;
    text-decoration: none;
    z-index: 1000;
}
#side-navbar:hover {
    width: 16em;
}
#side-navbar::-webkit-scrollbar-track {
    background-color: hsl(var(--background-secondary));
}
#side-navbar::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background-secondary));
}
#side-navbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}
.navbar-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-logo {
    margin: 0 0 2em 0;
    width: 100%;
    height: 5em;
    background: hsl(var(--background-secondary-dark));
}
.navbar-logo > .navbar-item-inner {
    width: calc(5rem - 8px);
}
.navbar-logo > .navbar-item-inner:hover {
    background-color: transparent;
}
.navbar-logo > .navbar-item-inner > svg {
    height: 2em;
    fill: #fff;
}

.navbar-item {
    padding: 0 .5em;
    width: 100%;
    cursor: pointer;
}
.navbar-item-inner {
    padding: 1em 0;
    width: 100%;
    position: relative;
    color: gray;
    border-radius: .25em;
    text-decoration: none;
    transition: all .2s cubic-bezier(var(--transition-main), 1);
}
.navbar-item-inner:hover {
    color: hsl(var(--white));
    background: hsl(var(--background-secondary-light));
    box-shadow: 0 17px 30px -10px hsla(black, .25);
}
.navbar-item-inner-icon-wrapper {
    width: calc(5rem - 1em - 8px);
    position: relative;
}
.navbar-item-inner-icon-wrapper i {
    position: absolute;
    font-size: calc(var(--navbar-buttons) - 1rem);
}
.link-text {
    margin: 0;
    width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .35s cubic-bezier(var(--transition-main), 1);
    overflow: hidden;
    opacity: 0;
    text-decoration: none;
}
#side-navbar:hover .link-text {
    width: calc(100% - calc(5rem - 8px));
    opacity: 1;
    text-decoration: none;
}

/* posts in main page */

.post-image {
    height: 260px;
	background-size: 100%;
    margin: 1% 0;
}

.post-title {
    color: black;
    font-weight: bold;
}

.post a {
    color: black;
    text-decoration: none;
}

.post a:hover {
    text-decoration: none;
    color: black;
}

.read-more {
    font-style: italic;
    color: gray;
}

/* login & register page */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.login-container h2 {
    margin-bottom: 10%;
}

.login-container input {
    margin: 2% auto;
}

.login-container button {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* single post page */

.page-container {
    font-family: "Roboto", sans-serif;
	min-height: 250px;
    margin-bottom: 5%;
}
.post-container {
	min-height: 300px;
	padding: 20px;
	border: 1px solid #e4e1e1;
	border-radius: 2px;
}
.post-container h2.post-title {
	margin: 10px auto 20px;
}
.post-body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}
.post-body p {
	margin: 20px 0px;
}

/* register & login */ 
.message {
	width: 100%; 
	margin: 0px auto; 
	padding: 10px 0px; 
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	border-radius: 5px; 
	text-align: center;
}
.error {
	color: #a94442; 
	background: #f2dede; 
	border: 1px solid #a94442; 
	margin-bottom: 20px;
}
.validation_errors p {
	text-align: left;
	margin-left: 10px;
}
.logged_in_info {
	text-align: right; 
	padding: 10px;
}

/* admin user */

/* dashboard */

.dashboard a {
    color: black;
}

.dashboard a:hover {
    color: black;
}

.dashboard-table {
  margin-top: 4%;
}

.menu {
    float: right;
}

/* manage page */ 

.manage button {
    border: 1px solid black;
}

.manage-table {
    margin-top: 2%;
}

.manage-table a {
    color: black;
}
.manage-table a:hover {
    color: black;
}

/* create new post */

.create-post input[name=title] {
    width: 95%;
}
.create-post textarea[name=body] {
    margin-top: 2%;
    width: 95%;
}
.create-post input[type=file] {
    margin-top: 2%;
}
.create-post select[name=topic_id] {
    margin-top: 1%;
}
.create-post input[name=publish] {
    margin-top: 1%;
}


